* {
  box-sizing: border-box;
}

/* HTML and body. */

html {
  font-size: 10px;
  font-family: sans-serif;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin-bottom: 90px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FFF;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

body {
  margin: 0;
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

/* Head. */

// Font size.

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

// Margin.

h1 {
  margin: .67em 0;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

// Misc.

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.hidden {
  display: none;
}