.navbar {
  background-image: url('/images/header_background.png');
  background-repeat: repeat-x;
  height: 75px;
  color: white;
  display: block;
}

.navbar * {
  height: 70px;
}

.navbar .container {
  padding-top: 4px;
  vertical-align: middle;
}

.navbar .navbar-header {
  float: left;
  line-height: 70px;
  font-size: 20px;
  margin-left: 0;
  margin-right: 0;
}

.navbar .navbar-nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  float: right;
  line-height: 70px;
  font-size: 15px;
}

.navbar .navbar-nav li {
  color: #FFF;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
}

.navbar .navbar-nav li a {
  color: #FFF;
  text-decoration: none;
  background-color: transparent;
}

.navbar .navbar-nav li a:hover {
  text-decoration: underline;
}
